$white: #FFFFFF;

$wp-gray: #CCCCCC;
$wp-black: #2F2F2F;

$gray-100: #FBFBFB;
$gray-300: #E5E5E5;
$gray-400: #DFDFDF;
$gray-500: #B4A7A7;
$gray-600: #7B6D6D;
$gray-800: #938181;

$red-100: #FFF0F0;
$red-500: #F63D3D;

$yellow-500: #EAB308;

$green-500: #22C55E;

$positive: $green-500;
$negative: $red-500;
