$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-2xl: 1536px;

@mixin screen-max($max) {
  @media screen and (max-width: $max - 1) {
	@content
  }
}

%size-full {
  width: 100%;
  height: 100%;
}

%drop-shadow-lg {
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.25)
}

%flex-center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}
