.wp-block-ub-image {
	&.is-style-rounded {
		img {
			border-radius: 9999px;
		}
	}
	&.is-style-framed {
		img {
			border: 4px solid #000000;
		}
	}
	line-height: 1;
	img {
		box-sizing: border-box;
		max-width: 100%;
	}
	&.alignwide,
	&.alignfull {
		img {
			width: 100%;
			height: auto;
		}
	}
	&.aligncenter {
		width: fit-content;
		text-align: center;
	}
	figcaption {
		margin-bottom: 1em;
		margin-top: 0.5em;
	}
	&.is-selected {
		.components-placeholder {
			&.has-illustration {
				border-radius: 2px;
				box-shadow: inset 0 0 0 1px #1e1e1e;
				&::before {
					opacity: 0;
				}
			}
		}
		.components-placeholder__illustration {
			display: none;
		}
	}
}
.ub-width-height-control {
	display: flex;
	gap: 10px;
	grid-column: 1 / -1;
}
.ub-custom-border-radius-control {
	.components-base-control__label {
		display: none;
	}
}
