/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
.wp-block-ub-block-button-block  {
  margin: 0 auto;
  max-width: 100%;
  display: flex;
}

.ub-button-container {
  display: flex;
}

.ub-button-block-btn {
  background-color:#44c767;
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
  cursor:pointer;
  color:#ffffff;
  font-size:17px;
  padding:16px;
  width: 200px;
  text-align: center;
}

.align-button-center {
  justify-content: center;
}
.align-button-left {
  justify-content: flex-start;
}
.align-button-right {
  justify-content: flex-end;
}
