@import "../colors";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

// text
$text-color: $gray-600;
$font-family: 'Lato', sans-serif;
$font-size: 1rem;

// block controls
$block-control-padding: 20px;
$block-control-width: 290px;
$block-control-height: 250px;
$block-control-x-margin: 10px;
$block-control-y-margin: 15px;
$block-control-border-radius: 21px;
$block-title-bg: $red-100;
$block-title-color: #912323;
$block-title-font-size: 1.2rem;
$block-title-icon-size: 20px;

// version control popup
$version-control-popup-bg: rgba(0, 0, 0, 0.7);
$versions-font-size: 2.5rem;
$versions-icon-size: 2.5rem;
$version-control-general-font-size: 1rem;

// others
$phrase-font-size: 2.5rem;
$logo-height: 40px;
$border-color: #5F1717;



