@import "../../common";

div[data-block] > .ub_image_slider {
	display: block;
	.components-placeholder {
		&__fieldset {
			display: flex;
			justify-content: center;
		}
		&__label {
			margin: 5px auto;
		}
		&__instructions {
			text-align: center;
			margin: auto;
		}
	}
}

:not(.is-selected) > .ub_image_slider {
	margin-bottom: 50px;
}

.ub_image_slider_url_input {
	width: 300px;
	margin: auto;
}

.ub_image_slider_extra {
	height: 100%;
}

.ub_image_slider {
	.editor-rich-text {
		padding-left: 10px;
		padding-right: 10px;
	}
}
.ub_image_slider_add_images {
	display: block;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}
