@import '../../common';

div[data-block] > .ub_image_slider {
	display: block;
	.ub_image_slider_add_images {
		margin: 0 auto;
	}
	.components-placeholder__fieldset {
		display: flex;
	}
}

.ub_image_slider_url_input {
	width: 300px;
	margin: auto;
}

.ub_image_slider_extra {
	height: 100%;
}
