/*Block styles*/

.ub_image_slider {
	.flickity-viewport .components-form-file-upload {
		height: 100%;
	}
	.editor-rich-text {
		padding-left: 10px;
		padding-right: 10px;
	}
	.ub_image_silder_image_caption,
	.ub_image_slider_image_caption {
		display: block;
		text-align: center;
	}
	margin-bottom: 10px;
}

.ub_image_slider_add_images {
	top: 50%;
	transform: translateY(-50%);
	margin: auto;
}

/*! Flickity v2.2.0
https://flickity.metafizzy.co
---------------------------------------------- */
.ub_image_slider {
	.flickity-enabled {
		position: relative;
		&:focus {
			outline: none;
		}
	}

	.flickity-viewport {
		overflow: hidden;
		position: relative;
		height: 100%;
	}

	.flickity-slider {
		position: absolute;
		width: 100%;
		height: 100%;
		//BEGIN CUSTOM CODE
		> div {
			width: 100%;
			> img,
			> picture > img {
				display: block;
				object-fit: contain;
				margin: auto;
			}
		}
		//END CUSTOM CODE
	}

	/* draggable */

	.flickity-enabled.is-draggable {
		user-select: none;
		.flickity-viewport {
			cursor: move;
			cursor: grab;
			&.is-pointer-down {
				cursor: grabbing;
			}
		}
	}

	/* ---- flickity-button ---- */

	.flickity-button {
		position: absolute;
		background: hsla(0, 0%, 100%, 0.75);
		border: none;
		color: #333;
		&:hover {
			background: white;
			cursor: pointer;
		}
		&:focus {
			outline: none;
			box-shadow: 0 0 0 5px #19f;
		}
		&:active {
			opacity: 0.6;
		}
		&:disabled {
			opacity: 0.3;
			cursor: auto;
			/* prevent disabled button from capturing pointer up event. #716 */
			pointer-events: none;
		}
	}

	.flickity-button-icon {
		fill: currentColor;
	}

	/* ---- previous/next buttons ---- */

	.flickity-prev-next-button {
		top: 50%;
		width: 44px;
		height: 44px;
		border-radius: 50%;
		/* vertically center */
		transform: translateY(-50%);
		&.previous {
			left: 10px;
		}
		&.next {
			right: 10px;
		}
	}

	/* right to left */
	.flickity-rtl .flickity-prev-next-button {
		&.previous {
			left: auto;
			right: 10px;
		}
		&.next {
			right: auto;
			left: 10px;
		}
	}

	.flickity-prev-next-button .flickity-button-icon {
		position: absolute;
		left: 20%;
		top: 20%;
		width: 60%;
		height: 60%;
	}

	/* ---- page dots ---- */

	.flickity-page-dots {
		position: absolute;
		width: 100%;
		bottom: 30px;
		padding: 0;
		margin: 0;
		list-style: none;
		text-align: center;
		line-height: 1;
		.dot {
			display: inline-block;
			width: 12px;
			height: 12px;
			opacity: 1;
			background: #333;
			border-radius: 50%;
			margin: 3px;
			cursor: pointer;
			&.is-selected {
				background: white;
				border: 2px solid #333;
			}
		}
	}

	.flickity-rtl .flickity-page-dots {
		direction: rtl;
	}
}
