/*Block styles*/
.ub_image_slider {
	.swiper-pagination {
		.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
			background: var(--swiper-inactive-pagination-color, #000000);
		}
	}
	.swiper-button-prev {
		padding: 30px;
		background: var(--swiper-navigation-background-color);
	}
	.swiper-button-next {
		background: var(--swiper-navigation-background-color);
		padding: 30px;
	}
	.ub_image_slider_image_caption {
		display: block;
		text-align: center;
	}
	.ub_image_slider_alt {
		font-size: 0.8em;
	}
	margin-bottom: 30px;

	.swiper-slide {
		> img,
		> picture > img,
		figure > img,
		figure > picture > img {
			display: block;
			margin: auto;
			max-width: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
}

@import "../../../node_modules/swiper/swiper";
@import "../../../node_modules/swiper/components/navigation/navigation";
@import "../../../node_modules/swiper/components/pagination/pagination";
@import "../../../node_modules/swiper/components/effect-coverflow/effect-coverflow";
@import "../../../node_modules/swiper/components/effect-cube/effect-cube";
@import "../../../node_modules/swiper/components/effect-fade/effect-fade";
@import "../../../node_modules/swiper/components/effect-flip/effect-flip";
