.ub_howto {
	.ub_howto_time_input {
		display: grid;
		grid-template-columns: auto auto 100px;
		.ub_howto-time-value {
			text-align: right;
		}
		select {
			margin-left: 5px;
		}
		p {
			margin: 0;
		}
	}
}

.ub_howto-step {
	display: flex;
	.dashicons-arrow-up-alt {
		min-width: 24px;
	}
	.dashicons-arrow-down-alt {
		min-width: 28px;
	}
}

.ub_howto-delete {
	margin-left: auto;
	min-width: 24px;
}
