.ub_howto {
	figure,
	li > .components-button,
	> .components-button {
		margin-bottom: 10px;
	}
	figure {
		position: relative;
		> .dashicons-dismiss {
			position: absolute;
			right: 3px;
		}
	}
}
.ub_howto-tools-list,
.ub_howto-supplies-list {
	figure {
		max-width: 200px;
	}
}
