.ub-autocomplete-container {
	margin-bottom: 5px;
}

.ub-autocomplete-selection {
	border: 1px solid black;
	margin: 4px;
	padding: 2px;
	border-radius: 4px;
}

.ub-autocomplete-list {
	position: absolute;
	z-index: 1;
	max-height: 100px;
	overflow-y: scroll;
	> div {
		&:nth-child(odd) {
			background-color: #eeeeee;
		}
		&:nth-child(even) {
			background-color: #ffffff;
		}
		&:focus {
			background-color: #aaaaaa;
		}
	}
}

.ub-block-post-grid-excerpt > div > p:last-child {
	margin-bottom: 0;
}
