// all editor related upsell styles

@import "./UpsellInspectorNotice.scss";
@import "./UpsellModal.scss";
@import "./UpsellControlWrapper.scss";
@import "../base/__common.scss";
@import "../base/__colors.scss";

.ub-upsell-vitalize-text {
  font-weight: bold !important;
}

.ub-upsell-inspector-notice-wrapper {
  @extend %shadow-md;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 13;
}

.ub-active-block-icon {
  @extend %flex-center-all;
}

.ub-upsell-modal-button {
  @extend %gutenberg-sidebar-default-borders;
  @extend %flex-center-all;
  @extend %default-border-radius;
  @extend %pointer;
  @extend %shadow-md;
  padding: 5px 10px;
  margin: 5px 10px;
  background-color: $white;

  &[data-ub-upsell-button-type=prio] {
	background-color: $blue-500 !important;
	color: $white !important;
  }
}

