// all editor related upsell styles

@import "./UpsellInspectorNotice.scss";

.ub-upsell-vitalize-text {
  font-weight: bold !important;
}

.ub-upsell-inspector-notice-wrapper {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
