.ub-notification-box {
	margin: 10px 0px;
	padding: 15px;
	border-left-width: 4px;
	border-left-style: solid;
	> *:first-child {
		margin-top: 0;
	}
	> *:last-child {
		margin-bottom: 0;
	}
}

.ub-feature-box,
.ub-number-box {
	display: flex;
	margin-top: 60px;
	margin-bottom: 30px;
	> div {
		flex-basis: 100%;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
		padding: 1rem;
		&:first-child:nth-last-child(3) {
			//1st out of 3
			margin-left: 0;
		}
		&:last-child:nth-child(3) {
			//last out of 3
			margin-right: 0;
		}
	}
}

.ub-number-panel {
	border: 1px solid;
}

.ub-number-box .ub-number-panel {
	.ub-number-container {
		border-radius: 100px;
		overflow: hidden;
		border: medium none;
		max-width: 80px;
		margin: -60px auto 25px;
		.ub-number-display {
			font-size: 40px;
			text-align: center;
			line-height: 80px;
			margin: 0 auto;
		}
	}
	.ub-number-box-title {
		font-size: 30px;
		text-align: center;
		margin: 10px auto;
		padding: 0;
	}
}

.ub-feature-box .ub-feature {
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.ub-feature-title {
		font-size: 30px;
		text-align: center;
		margin: 20px 0;
		padding: 0;
	}
}

.ub-bordered-box {
	margin-bottom: 20px;
	padding: 20px;
	> p:last-child {
		margin: 0;
	}
}

@media screen and (max-width: 800px) {
	.ub-feature-box,
	.ub-number-box {
		display: block;
		> div {
			width: 90%;
			margin: 0;
		}
	}
}
