.wp-block-ub-social-share {
	.social-share-icons {
		display: flex;
		flex-wrap: wrap;
		.social-share-icon {
			display: flex;
			align-items: center;
			justify-content: center;
			box-shadow: 0px 3px 2px grey;
			border-radius: 50%;
			margin: 7px;
			&.circle {
				border-radius: 50%;
			}
			&.square {
				border-radius: 0%;
			}
		}
	}
}
.align-icons-center {
	justify-content: center;
}
.align-icons-left {
	justify-content: flex-start;
}
.align-icons-right {
	justify-content: flex-end;
}

.ub-social-share-facebook {
	background-color: #365899;
}

.ub-social-share-twitter {
	background-color: #1da1f2;
}

.ub-social-share-linkedin {
	background-color: #0073b1;
}

.ub-social-share-pinterest {
	background-color: #bd081c;
}

.ub-social-share-reddit {
	background-color: #cee3f8;
}

.ub-social-share-google-plus {
	background-color: #db4437;
}

.ub-social-share-tumblr {
	background-color: #36465d;
}
