/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-ub-tabbed-content-tab-title-wrap,
.wp-block-ub-tabbed-content-tab-title-vertical-wrap {
	padding: 15px;
	&:last-child {
		cursor: pointer;
	}
	.remove-tab-icon {
		width: 15px;
		height: 15px;
		background: #444444;
		color: white;
		border-radius: 50%;
		font-size: 13px;
		margin-left: 5px;
		line-height: 15px;
	}
	.drag-handle {
		font-size: 16px;
		margin-right: 3px;
		color: black;
	}
	.ub-tab-actions {
		justify-content: space-between;
		position: absolute;
		top: 7px;
		left: 0;
		right: 0;
		margin: auto;
		transition: all 0.5s ease-in-out;
		display: flex;
		opacity: 0;
		pointer-events: none;
		span {
			pointer-events: auto;
		}
	}
	&:hover .ub-tab-actions {
		opacity: 1;
	}
}
/*.wp-block-ub-tabbed-content{

}*/

.wp-block-ub-tabbed-content-tabs-content {
	padding: 20px;
	> .editor-inner-blocks {
		margin: 20px;
	}
}
.wp-block-ub-tabbed-content-tabs-content {
	.wp-block-ub-tabbed-content-tab-content-wrap,
	.wp-block-ub-tab-block {
		> .block-editor-inner-blocks {
			> .block-editor-block-list__layout {
				> .alignright {
					float: right;
					margin-inline-start: 2em;
					margin-inline-end: 0;
				}

				> .alignleft {
					float: left;
					margin-inline-start: 0;
					margin-inline-end: 2em;
				}

				> .aligncenter {
					margin-inline-start: auto;
					margin-inline-end: auto;
				}
			}
		}
	}
}
