/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-ub-tabbed-content-tab-title-wrap {
	padding: 15px;
	&:last-child {
		cursor: pointer;
	}
	.remove-tab-icon {
		width: 15px;
		height: 15px;
		background: #444444;
		color: white;
		border-radius: 50%;
		font-size: 13px;
		margin-left: 5px;
		line-height: 15px;
	}
	.drag-handle {
		font-size: 16px;
		margin-right: 3px;
		color: black;
	}
	.tab-actions {
		justify-content: space-between;
		position: absolute;
		top: 7px;
		left: 0;
		right: 0;
		margin: auto;
		transition: all -0.5s ease-in-out;
		display: none;
	}
	&:hover {
		.tab-actions {
			display: flex;
		}
	}
}

.wp-block-ub-tabbed-content-tabs-content {
	padding: 20px;
}
