.wp-block-ub-icon {
	.ub_icon {
		display: flex;
		justify-content: var(--ub-icon-justification);
		svg {
			fill: var(--ub-icon-color);
			color: var(--ub-icon-color);
			width: var(--ub-icon-size, 40px);
			height: var(--ub-icon-size, 40px);
			background: var(--ub-icon-bg-color);
			transform: var(--ub-icon-rotation);
			&:hover {
				fill: var(--ub-icon-hover-color, var(--ub-icon-color));
				background: var(--ub-icon-bg-hover-color, var(--ub-icon-bg-color));
			}
		}
	}
}
.ub_custom_svg_inserter__modal {
	.components-modal__content {
		flex: 1 1 0%;
		overflow: auto;
		padding: 0px;

		&:before {
			margin-bottom: 0;
		}
	}

	.ub_custom_svg_inserter {
		align-items: stretch;
		display: flex;
		flex-direction: column;
		gap: 32px;
		height: 100%;
		padding: 0 32px 32px;

		@media (min-width: 900px) {
			flex-direction: row;
		}
	}

	.ub_custom_svg_inserter__content {
		min-height: 400px;

		@media (min-width: 900px) {
			width: calc(100% - 400px);
		}

		.components-base-control,
		.components-base-control__field,
		.components-textarea-control__input {
			height: 100%;
		}

		textarea {
			resize: none;
		}
	}

	.ub_custom_svg_inserter__sidebar {
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media (min-width: 900px) {
			width: 400px;
		}

		.icon-preview__window {
			border: 1px solid #ddd;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 20px;
			min-height: 250px;
			max-height: 400px;
			overflow: scroll;

			&.is-default {
				svg {
					opacity: 0.3;
				}
			}

			svg {
				width: 100%;
				height: 100%;
			}
		}

		.ub_icon_controls {
			display: flex;
			justify-content: center;
			padding: 12px 24px;
		}

		.ub_icon_controls__size {
			display: flex;
			align-items: center;

			& > span {
				margin-bottom: 6px;
				margin-right: 16px;
			}

			.components-range-control {
				width: 90px;

				.components-base-control__field {
					margin-bottom: 0;
				}
			}
		}

		.icon-insert-buttons {
			display: flex;
			justify-content: space-between;
		}
	}
}
