@import "../../common";

.ub_review_average_stars {
	float: right;
}

.ub_review_entry,
.ub_review_percentage_entry {
	margin-right: auto;
	.components-icon-button {
		padding: 0;
	}
	.dashicons-trash {
		color: #aaa;
		float: right;
		&:hover {
			color: #222;
		}
	}
}

.ub_review_block .ub_review_image_container {
	position: relative;
	.ub-remove-image {
		position: absolute;
		right: 0;
	}
	.ub_review_image {
		height: auto;
		width: auto;
	}
}

.ub_review_description_container .ub_review_description {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.ub_review_upload_button {
}
.ub_review_summary .ub_review_overall_value {
	display: flex;
	> .rich-text {
		flex-basis: 75%;
	}
	> .ub_review_average {
		flex-basis: 25%;
		margin-left: auto;
	}
}

.ub_review_cuisine_list {
	list-style: none;
	li {
		display: inline;
		border: 1px solid black;
		border-radius: 5px;
		padding: 3px;
	}
}

#ub_review_event_page_input,
#ub_review_video_url_input,
#ub_review_item_page_input {
	input {
		width: 200px;
	}
}
