@media (max-width: 7688px) {
	.ub_review_block {
		padding: 35px 40px;
	}
}

@media (max-width: 576px) {
	.ub_review_cta_btn {
		padding: 15px 10px;
	}
	.ub_review_image {
		float: right;
	}
}

@media (max-width: 480px) {
	.ub_review_rating {
		font-size: 20px;
		font-weight: 600;
	}
	.ub_review_entry {
		font-size: 18px;
	}
	.ub_review_cta_btn {
		padding: 15px 8px;
	}
}

@media (max-width: 460px) {
	.ub_review_average_stars svg {
		width: 12px;
		height: 12px;
	}
}

@media (max-width: 375px) {
	.ub_review_block {
		padding: 20px 15px;

		button > svg {
			width: 12px;
			height: 12px;
		}
	}
}

@media (max-width: 320px) {
	.ub_review_block {
		padding: 20px 10px;

		button > svg {
			width: 8px;
			height: 8px;
			margin: 0;
		}
	}
	.ub_review_average_stars {
		height: 45px;
		line-height: 40px;
		margin-left: auto;
	}
}

@media (max-width: 480px) {
	.ub_review_summary {
		.ub_review_overall_value {
			grid-template-columns: 1fr;
			grid-auto-columns: 1fr;
			grid-auto-flow: row;
			grid-gap: 10px;
			margin-bottom: 10px;

			p, .rich-text {
				text-align: justify;
			}

			.ub_review_average {
				align-items: center;
				border-top: 1px solid #e9e9e9;
				border-bottom: 1px solid #e9e9e9;
				padding: 10px 0;

				.ub_review_average_stars {
					margin-left: unset;
					height: unset;
					padding: 5px 0;
				}
			}
		}
	}
}

@media (max-width: 280px) {
	.ub_review_stars {
		svg {
			width: 15px;
			height: 15px;
		}
	}
}

