.ub_progress_bar_value {
	padding-left: 5px;
	transform: translateY(5px);
	button {
		display: none;
	}
	.components-range-control__wrapper {
		width: 100px;
	}
}

[data-type="ub/progress-bar"] .components-dropdown-menu {
	background-color: #ffffff;
	border-top: 1px solid #b5bcc2;
	border-bottom: 1px solid #b5bcc2;
}
