/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.ub_divider {
	display: flex;
	margin-left: auto; //needed for proper alignment
	margin-right: auto; //needed for proper alignment
	align-content: center;
	//begin overrides for twenty twenty-one
	border-bottom: none;
	&.ub_divider:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce) {
		max-width: initial;
	}
	//end overrides for twenty twenty-one
}

.entry-content.entry-content .ub_divider {
	&::before,
	&::after {
		content: none; //override twenty twenty
	}
	background-color: transparent; //override twenty nineteen, twenty seventeen
}
