/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-ub-feature-box {
	margin: 20px 0 20px 0;
	max-width: 100%;
}

.ub_feature_box {
	display: flex;
	margin: 1rem 0;
	> div {
		text-align: justify;
		margin: 0 auto;
	}
}

@mixin feature-box-column-container {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	padding: 1rem;
}

.ub_feature_box.column_1 {
	.ub_feature_2,
	.ub_feature_3 {
		display: none;
	}
	> div {
		width: 100%;
		@include feature-box-column-container;
	}
}

.ub_feature_box.column_2 {
	.ub_feature_3 {
		display: none;
	}
	> div {
		width: 49%;
		@include feature-box-column-container;
	}
}

.ub_feature_box.column_3 {
	> div {
		width: 33.2%;
		@include feature-box-column-container;
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}

.ub_feature_box_feature {
	border-radius: 100px;
	overflow: hidden;
	border: medium none;
	max-width: 80px;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-top: -60px !important;
	margin-bottom: 25px;
}

.ub_feature_one_feature,
.ub_feature_two_feature,
.ub_feature_three_feature {
	font-size: 40px !important;
	text-align: center;
	line-height: 80px !important;
	margin: 0 auto !important;
}

.ub_feature_one_title,
.ub_feature_two_title,
.ub_feature_three_title {
	font-size: 30px !important;
	text-align: center;
	margin: 20px 0 !important;
	padding: 0;
}

.ub_feature_1,
.ub_feature_2,
.ub_feature_3 {
	> img {
		display: flex;
		align-items: center;
		margin-right: auto;
		margin-left: auto;
		max-width: 100%;
	}
}

@media screen and (max-width: 800px) {
	.ub_feature_box.column_3 {
		display: block;
		> div {
			width: 90% !important;
			margin: 0 !important;
		}
	}
}

@media screen and (max-width: 600px) {
	.ub_feature_box.column_2 {
		display: block;
		> div {
			width: 90% !important;
			margin: 0 !important;
		}
	}
}
