/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-ub-block-click-to-tweet {
	margin: 0 auto;
	max-width: 100%;
}

.ub_click_to_tweet {
	width: 95%;
	border: 1px solid;
	border-radius: 4px;
	padding: 10px;
	margin: 25px 0px;
}

.ub_tweet {
	padding: 10px;
	margin-left: 10px;
	font-family: "Segoe UI", Arial, sans-serif;
}

.ub_click_tweet {
	text-align: right;
	padding: 10px;
	margin-right: 10px;
	> span {
		display: inline-block;
	}
	i {
		display: inline-block;
		width: 16px;
		height: 14px;
		background: url("../src/blocks/click-to-tweet/icons/sprite-twitter.png")
			no-repeat;
		background-position-x: 0%;
		background-position-y: 0%;
		margin-right: 3px;
		position: relative;
		top: 0;
		background-position: 0 -151px;
		width: 25px;
		height: 20px;
	}
}

@media (max-width: 479.98px) {
	.ub_click_tweet {
		width: 100%;
		float: none;
		padding: 0;
		margin: 10px 0 !important;
	}
	.ub_tweet {
		padding: 0;
		margin-left: 0;
		line-height: 1.5;
	}
}
