/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-ub-number-box {
	margin: 50px 0 50px 0;
	max-width: 100%;
}

.ub_number_box {
	display: flex;
	margin: 1rem 0;
	margin-top: 5rem;
}

.ub_number_box > div {
	text-align: justify;
	margin: 0 auto;
}

.ub_number_box.column_1 {
	.ub_number_2,
	.ub_number_3 {
		display: none;
	}
	> div {
		width: 100%;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
		border: 1px solid;
		padding: 1rem;
	}
}

.ub_number_box.column_2 {
	.ub_number_3 {
		display: none;
	}
	> div {
		width: 49%;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
		border: 1px solid;
		padding: 1rem;
	}
}

.ub_number_box.column_3 {
	> div {
		width: 33.2%;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
		border: 1px solid;
		padding: 1rem;
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}

.ub_number_box_number {
	border-radius: 100px;
	overflow: hidden;
	border: medium none;
	max-width: 80px;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-top: -60px !important;
	margin-bottom: 25px;
}

.ub_number_one_number,
.ub_number_two_number,
.ub_number_three_number {
	font-size: 40px !important;
	text-align: center;
	line-height: 80px !important;
	margin: 0 auto !important;
}

.ub_number_one_title,
.ub_number_two_title,
.ub_number_three_title {
	font-size: 30px !important;
	text-align: center;
	margin: 10px auto;
	padding: 0;
}

@media screen and (max-width: 800px) {
	.ub_number_box.column_3 {
		display: block;
		> div {
			width: 92% !important;
			margin: 0 !important;
		}
	}
}

@media screen and (max-width: 600px) {
	.ub_number_box.column_2 {
		display: block;
		> div {
			width: 90% !important;
			margin: 0 !important;
		}
	}
}
