/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-ub-call-to-action  {
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}
