/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-ub-content-toggle-accordion {
	.wp-block-ub-content-toggle-accordion-controls-top {
		> span {
			cursor: pointer;
		}
		> span:nth-of-type(2) {
			position: absolute;
			right: -15px;
		}
	}
	.wp-block-ub-content-toggle-accordion-controls-bottom > span {
		cursor: pointer;
	}
	.wp-block-ub-content-toggle-accordion-title-wrap {
		align-items: baseline;
		> *:first-child {
			flex-grow: 1;
		}
		.wp-block-ub-content-toggle-accordion-state-indicator {
			margin: 10px;
		}
	}
}
