/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-ub-content-toggle {
	&-block {
		padding: 3px 0;
	}
	&-customize-icons-wrap {
		display: flex;
		padding: 5px;
		> * {
			display: inline;
			margin: 5px;
		}
	}
	&-accordion {
		&-controls-top > span {
			cursor: pointer;
			&:nth-of-type(2) {
				position: absolute;
				right: -15px;
			}
		}
		&-controls-bottom > span {
			cursor: pointer;
		}
		&-title-wrap {
			align-items: baseline;
			> *:first-child {
				flex-grow: 1;
			}
		}
		&-state-indicator {
			margin: 10px;
		}
	}
}
