.ub-content-filter-tag {
	&:hover .ub-content-filter-tag-top {
		opacity: 1;
	}
	> * {
		cursor: auto;
	}
}
.ub-content-filter-category {
	& > button {
		display: inline-block;
		height: 38px;
		width: 38px;
		margin: 5px;
		padding: 5px;
		text-align: center;
	}
	&:hover .ub-content-filter-category-top {
		opacity: 1;
	}
}

.ub-content-filter-category-top {
	position: relative;
	top: -14px;
	left: 0;
	right: 0;
	justify-content: center;
	display: flex;
	opacity: 0;
	transition: 0.5s opacity ease-in-out;
	> span {
		position: absolute;
		right: -14px;
	}
}

.ub-content-filter-tag-top {
	position: relative;
	top: -15px;
	left: 0;
	right: 0;
	justify-content: center;
	display: flex;
	opacity: 0;
	transition: 0.5s opacity ease-in-out;
	z-index: 6;
	> span {
		position: absolute;
		right: -10px;
		color: #000000;
	}
}

.ub-content-filter-panel {
	border: 1px dashed #909090;
	border-right: none;
	border-left: none;
	padding-top: 25px;
	margin-bottom: 40px;
}

.ub-content-filter-dropdown-container {
	display: inline-block;
	position: relative;
	z-index: 7;
	> button {
		display: inline-block;
		height: 30px;
		width: 34px;
		margin-top: 5px !important;
		padding: 6px;
		padding-top: 3px;
		color: #000 !important;
		text-align: center;
	}
	ul.ub-content-filter-dropdown-content {
		overflow-y: scroll;
		max-height: 105px;
		border-radius: 2px;
		top: 44px;
		box-shadow: 0px 0px 3px 1px rgba(224, 224, 224, 1);
		position: absolute;
		width: 150px;
		margin-top: 0;
		padding-left: 0;
		list-style-type: none;
		> li {
			cursor: pointer;
			background-color: #ffffff;
			padding-left: 15px;
			padding-top: 4px;
			padding-bottom: 4px;
		}
		> li,
		li.hidden:nth-child(even) + li:nth-of-type(odd) + li:nth-of-type(even),
		li.hidden:nth-child(even) + li.hidden:nth-child(odd) ~ li:nth-of-type(odd) {
			background: #ffffff;
		}
		> li:nth-child(even),
		li.hidden:nth-child(even) ~ li:nth-of-type(odd),
		li.hidden:nth-child(even)
			+ li.hidden:nth-child(odd)
			~ li:nth-of-type(even) {
			background: #f5f5f5;
		}
	}
}

.ub-content-filter-main > button {
	margin: 10px !important;
	padding: 10px;
	color: black !important;
	border: 1px solid #ccc;
}

.ub-content-assigned-filter-tag {
	position: relative;
	display: inline-block;
	font-size: 0.835rem;
	background-color: #f5f5f5;
	line-height: 1rem;
	padding: 0.5rem 2rem 0.5rem 1rem;
	border-radius: 0.7rem;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
	opacity: 0.8;
}

.ub-content-filter-tag-deselect {
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
}

.ub-content-assigned-filter-tag-area,
.ub-content-filter-checkbox {
	opacity: 0.4;
	transition: opacity 0.5s ease-in-out;
	&:hover {
		opacity: 1;
	}
}
