@import "../../common";

.wp-block-ub-content-filter-block {
	.ub-content-filter-buttons-wrapper {
		display: flex;
		justify-content: var(--ub-content-filter-buttons-justification);
		flex-wrap: wrap;
		gap: 20px;
	}
}
.ub-content-filter-tag {
	min-height: 32px;
	min-width: 100px;
	padding: 8px;
	border-radius: 3px;
	text-align: center;
}

.ub-content-filter-category-name {
	font-size: 1.625em;
	font-weight: 800;
	margin-bottom: 15px;
}
.ub-content-filter-category {
	margin-bottom: 10px;
	padding: 3px;
}

.ub-content-filter-tag {
	cursor: pointer;
}
