@import "../../common";
.editor-styles-wrapper .ub_table-of-contents {
	ul {
		padding-left: 1.3em;
	}
	li > div {
		justify-content: space-between;
	}
}

.editor-block-toolbar {
	.ub_toc_column_selector.is-primary {
		top: 50%;
		transform: translateY(-50%);
	}
}

.ub_toc_column_buttons {
	display: flex;
	flex-direction: row;
}
