@import '../../common';
.ub_table-of-contents {
    background-color: #fafafa;
    border: 1px solid #dfdfdf;
    padding: 30px;
    margin: 20px 0;
    ul {
        margin-bottom: 0;
        margin-left: 2em;
    }
}

.ub_table-of-contents-header {
    text-align: center;
    margin-bottom: 13px;
    font-size: 20px;
    font-weight: 500;
    display: grid;
    grid-template-columns: fit-content(90%) auto;
}

#ub_table-of-contents-header-toggle {
    display: flex;
    align-items: center;
}

.ub_table-of-contents-1-column {
    column-count: 1;
}

.ub_table-of-contents-2-column {
    column-count: 2;
}

.ub_table-of-contents-3-column {
    column-count: 3;
}

@media screen and (max-width: 600px) {
    .ub_table-of-contents-1-column,
    .ub_table-of-contents-2-column,
    .ub_table-of-contents-3-column {
        column-count: 1;
    }
}