@import "./base/common";
@import "./base/themes/admin-menu-theme";

.ub-admin-menu-wrapper {
  @extend %size-full;
  font-family: $font-family;
  font-size: $font-size;
  position: absolute;
  background-color: $gray-300;
  color: $text-color;
  z-index: 10;

  .ub-admin-menu-container {
	@extend %size-full;
	background-color: $white;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;

	& > div {
	  padding: 0 100px 0 100px;
	  @include screen-max($screen-2xl) {
		padding: 0 50px 0 50px;
	  }
	}

	.menu-header {
	  padding-top: 10px;
	  padding-bottom: 10px;
	  @extend %box-shadow-lg;
	  display: flex;
	  align-items: center;
	  background-color: $gray-100;

	  .logo-container {
		height: $logo-height;

		img {
		  height: 100%;
		}
	  }
	}

	.menu-content {
	  display: grid;
	  grid-template-columns: 1fr;
	  grid-template-rows: auto auto 1fr;
	  justify-content: center;
	  justify-items: center;
	  overflow: auto;

	  .content-phrase {
		@extend %flex-center-all;
		@extend %unselectable;
		flex-direction: column;
		font-size: $phrase-font-size;
		margin: 60px 0;

		.line-wrapper {
		  margin: 15px 0;
		  font-weight: 400;
		}

		.text-indicate {
		  color: $red-500;
		  font-weight: 500;
		}
	  }

	  .block-status-filter-control {
		width: 300px;
		height: 40px;
		background-color: $gray-300;
		border-radius: 20px;

		.filter-control-item {
		  @extend %default-transition;
		  cursor: pointer;
		  text-transform: capitalize;

		  &[data-active="true"] {
			color: $white;
		  }
		}
	  }

	  .controls-container {
		@extend %flex-center-all;
		flex-wrap: wrap;

		width: 100%;
		height: 100%;
		margin: 30px 0;
		border-radius: 5px;

		.block-control {
		  @extend %box-shadow-md;
		  @extend %default-transition;
		  overflow: hidden;
		  width: $block-control-width;
		  max-width: $block-control-width;
		  height: $block-control-height;
		  border: 1px solid $block-control-border;
		  border-radius: $block-control-border-radius;
		  margin: $block-control-y-margin $block-control-x-margin;
		  display: grid;
		  grid-template-columns: 1fr;
		  grid-template-rows: auto 1fr auto;
		  grid-template-areas: "title" "info" "howTo";

		  &[data-enabled='false'] {
			border-color: $gray-500;

		  }

		  &[data-enabled='false'] .block-title {
			background-color: $gray-400;
			color: $gray-800;

		  }

		  &[data-enabled='false'] .title-icon {
			fill: $gray-500;

			svg {
			  fill: $gray-500;

			  * {
				fill: $gray-500;
			  }
			}
		  }

		  .block-title {
			@extend %default-transition;
			@extend %unselectable;
			grid-area: title;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: $block-control-padding;
			background-color: $block-title-bg;
			font-size: $block-title-font-size;
			color: $block-title-color;

			.block-title-left-container {
			  display: flex;
			  justify-content: flex-start;
			  align-items: center;

			  .title-icon {
				@extend %default-transition;
				width: $block-title-icon-size;
				height: $block-title-icon-size;
				margin-right: 10px;

				svg {
				  @extend %default-transition;
				  width: $block-title-icon-size;
				  height: $block-title-icon-size;

				  * {
					@extend %default-transition;
				  }
				}
			  }
			}
		  }

		  .block-howto {
			@extend %flex-center-all;
			padding: $block-control-padding;
			grid-area: howTo;
		  }
		}
	  }
	}
  }

  .ub-toggle-control {
	@extend %default-transition;
	position: relative;
	width: 42px;
	height: 20px;
	background-color: $red-500;
	border: 2px solid $red-500;
	border-radius: 24px;
	cursor: pointer;

	&[data-enabled='false'] {
	  background-color: $gray-500;
	  border: 2px solid $gray-500;
	}

	.knob {
	  @extend %default-transition;
	  position: absolute;
	  left: 0;
	  width: 20px;
	  height: 20px;
	  border-radius: 24px;
	  background-color: $white;
	}

	&[data-enabled='true'] .knob {
	  left: calc(100% - 20px);
	}
  }

  .ub-menu-button {
	@extend %flex-center-all;
	@extend %default-transition;
	@extend %unselectable;
	padding: 10px 20px;
	background-color: $red-500;
	color: $white;
	font-size: 0.8rem;
	cursor: pointer;
	border-radius: 5px;

	&[data-enabled='false'] {
	  background-color: $gray-800;
	}

	&[data-enabled='true']:active {
	  transform: scale(0.8);
	}
  }
}

.block-control-transition-enter {
  opacity: 0
}

.block-control-transition-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.block-control-transition-exit {
  opacity: 1;
}

.block-control-transition-exit-active {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

