.ub-buttons {
	margin: 20px 0;
	display: flex;
	cursor: pointer;
	gap: 20px;
	transition:
		background-color 0.5s,
		color 0.5s,
		border 0.5s;
	&.ub-flex-wrap {
		flex-wrap: wrap;
	}
	&.orientation-button-row {
		flex-direction: row;
		&.align-button-center {
			justify-content: center;
		}
		&.align-button-left {
			justify-content: flex-start;
		}
		&.align-button-right {
			justify-content: flex-end;
		}
		&.align-button-space-between {
			justify-content: space-between;
		}
	}
	&.orientation-button-column {
		flex-direction: column;
		&.align-button-center {
			align-items: center;
		}
		&.align-button-left {
			align-items: flex-start;
		}
		&.align-button-right {
			align-items: flex-end;
		}
		&.align-button-space-between {
			justify-content: space-between;
		}
	}
}
