.ub-advanced-video-container {
	width: fit-content;
	max-width: 100%;
}

.ub-advanced-video-thumbnail {
	position: relative;
	& > svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.ub-advanced-video-embed {
	&.ub-advanced-video-autofit-youtube {
		width: 100%;
		> iframe {
			width: 100%;
		}
	}
	&.ub-advanced-video-autofit-vimeo,
	&.ub-advanced-video-autofit-dailymotion {
		position: relative;
		> iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	&.ub-advanced-video-autofit-dailymotion {
		height: 0;
		overflow: hidden;
		> iframe {
			overflow: hidden;
		}
	}
}
