.ub-advanced-video-container {
	width: fit-content;
	max-width: 100%;
}

.ub-advanced-video-thumbnail {
	position: relative;
	& > svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.ub-advanced-video-embed.ub-advanced-video-autofit-youtube {
	width: 100%;
	> iframe {
		width: 100%;
	}
}
