@import '../base/common';
@import '../base/themes/admin-menu-theme';

.block-control {
	@extend %box-shadow-md;
	@extend %default-transition;
	@extend %default-border;

	overflow: hidden;
	width: $block-control-width;
	max-width: $block-control-width;
	height: $block-control-height;
	border-radius: $block-control-border-radius;
	margin: $block-control-y-margin $block-control-x-margin;
	display: grid;
	grid-template: "title" auto "info" 1fr "howTo" auto / 1fr;

	&[data-initial-animation="true"] {
		transition: none;
	}

	&[data-enabled='false'] {
		border-color: $gray-500;
	}

	.block-title {
		@extend %default-transition;
		@extend %unselectable;

		grid-area: title;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: $block-control-padding;
		background-color: $block-title-bg;
		font-size: $block-title-font-size;
		color: $block-title-color;

		.block-title-left-container {
			display: flex;
			justify-content: flex-start;
			align-items: center;

			.title-icon {
				@extend %default-transition;

				width: $block-title-icon-size;
				height: $block-title-icon-size;
				margin-right: 10px;

				svg {
					@extend %default-transition;

					width: $block-title-icon-size;
					height: $block-title-icon-size;

					* {
						@extend %default-transition;
					}
				}
			}

			.title-text {
				text-transform: capitalize;

				.pro-block-card-title-suffix {
					margin: 0 5px;
					font-weight: bold;
				}
			}
		}

		.block-title-right-container {
			.pro-block-card-info-button {
				color: $red-500;
				background: white;
				border-radius: 100%;

				@extend %pointer;

				svg {
					@include size(25);
					@extend %unselectable;
				}
			}
		}
	}

	&[data-enabled='false'] .block-title {
		background-color: $gray-400;
		color: $gray-500;

	}

	/* stylelint-disable no-descending-specificity */
	&[data-enabled='false'] .title-icon {
		fill: $gray-500;

		svg {
			fill: $gray-500;

			* {
				fill: $gray-500;
			}
		}
	}

	/* stylelint-enable no-descending-specificity */

	.block-info {
		@extend %flex-center-all;

		grid-area: info;
		padding: 10px;
		overflow: auto;

		.info-line {
			text-align: center;
		}
	}

	&[data-enabled='false'] .block-info {
		color: $gray-500;
	}


	.block-howto {
		@extend %flex-center-all;

		padding: $block-control-padding;
		grid-area: howTo;
	}
}
