@import "../base/themes/admin-menu-theme";
@import "../base/common";

.ub-extensions-content {
	@extend %flex-center-all;
	@extend %size-full;

	.soon {
		@extend %h3-regular;

		color: $text-faded-color;

		.just-a-dot {
			@extend %default-transition;

			opacity: 0;

			&[data-opacity="true"] {
				opacity: 1;
			}
		}
	}
}
