@import "../base/common";

.ub-welcome-content {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 0.4fr;
	grid-template-areas: "main right_sidebar";
	grid-gap: 30px;

	&__main {
		grid-area: main;
	}

	&__right-sidebar {
		grid-area: right_sidebar;
	}
}
