/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-ub-testimonial-block {
    margin: 30px auto;
    max-width: 100%;
}

.ub_testimonial {
    max-width: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: fit-content(25%) auto;
    grid-template-rows: auto auto;
}

.ub_testimonial_img {
    padding: 10px 10px;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: span 2;
    img {
        margin: 0 auto;
        padding: 0;
        border-radius: 50%;
    }
}

.ub_testimonial_content {
    grid-row-start: 1;
    grid-column-start: 2;
    padding: 11px 20px;
    p {
        font-style: italic;
    }
}

.ub_testimonial_sign {
    padding-right: 10px;
    padding-bottom: 10px;
    grid-column-start: 2;
    grid-row-start: 2;
    p {
        margin-bottom: 2px !important;
    }
    .ub_testimonial_author_role {
        font-size: 13px;
        font-style: italic;
    }
}