@import './__colors.scss';

// common style rules

%pointer {
  cursor: pointer;
}

%text-no-select {
  user-select: none;
}

%flex-center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

%gutenberg-sidebar-default-borders {
  border: 1px solid $gutenberg_gray;
}

%default-border-radius {
  border-radius: 3px;
}
