// common color values

$white: #FFFFFF;
$gutenberg-gray: #E0E0E0;

$wp-gray: #CCCCCC;
$wp-black: #2F2F2F;

$plugin-red: #e11b4c;

$gray-100: #F3F4F6;
$gray-200: #E5E7EB;
$gray-300: #D1D5DB;
$gray-400: #9CA3AF;
$gray-500: #6B7280;
$gray-600: #4B5563;
$gray-700: #374151;

$red-100: #FFF0F0;
$red-500: #e11b4c;

$yellow-200: #FEF08A;
$yellow-400: #FACC15;
$yellow-500: #EAB308;

$green-100: #DCFCE7;
$green-200: #BBF7D0;
$green-400: #86EFAC;
$green-500: #22C55E;

$blue-100: #DBEAFE;
$blue-500: #3B82F6;

$positive: $green-500;
$negative: $red-500;

$logo-color: #F64646;

$wordpress-gray: #E0E0E0;
$wordpress-admin-main: var(--wp-admin-theme-color);
