.ub-container {
    margin: 50px auto;
    max-width: 860px;
    padding: 0;
    background: #fff;
    border: 1px solid #f63d3d;
}

.ub-container *,
.ub-container::before,
.ub-container::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ultimate-blocks {
    font-family: "Open Sans";
    min-height: 300px;
    width: 100%;
    margin: 0;
    background: url('../images/banners/help-bg.png');
    background-repeat: repeat-x;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ultimate-blocks h1 {
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    margin: 20px 0 0 0;
}

.ultimate-blocks h5 {
    font-size: 16px;
    color: #fff;
}

.ub-intro {
    padding: 40px;
}

.ub-intro p {
    font-family: "Open Sans";
    font-size: 18px;
    text-align: center;
    color: #444;
    line-height: 1.6em;
}

.ub-intro h2 {
    font-size: 30px;
    font-family: "Open Sans";
    text-align: center;
    margin: 60px auto 40px auto;
}

.ub-social-intro {
    padding: 40px;
}

.ub-social-intro p {
    font-family: "Open Sans";
    font-size: 18px;
    text-align: center;
    color: #444;
    line-height: 1.6em;
}

.ub-social-intro h2 {
    font-size: 30px;
    font-family: "Open Sans";
    text-align: center;
    margin: 20px auto 40px auto;
}

.color-red {
    color: #e82f2f;
}

.ultimate-blocks-clear::after {
    clear: both;
    content: " ";
    display: table;
}

.ub-button-wrap {
    margin-top: 70px !important;
    text-align: center;
}

.ub-button-wrap {
    max-width: 590px;
    margin: 0 auto 0 auto;
}

.ub-social-button-wrap {
    margin-top: 40px !important;
    text-align: center;
}

.ub-social-button-wrap {
    max-width: 590px;
    margin: 0 auto 0 auto;
}

.right {
    float: right;
    width: 50%;
    padding-left: 20px;
}

.left {
    float: left;
    width: 50%;
    padding-right: 20px;
}

.ultimate-blocks-btn-twitter {
    background-color: #1DA1F2;
    border-color: #1DA1F2;
    color: #fff;
}

a.ultimate-blocks-btn-twitter {
    color: #fff;
}

a.ultimate-blocks-btn-twitter:hover {
    color: #fff;
}

.ultimate-blocks-btn-facebook {
    background-color: #3b5998;
    border-color: #3b5998;
    color: #fff;
}

a.ultimate-blocks-btn-facebook {
    color: #fff;
}

a.ultimate-blocks-btn-facebook:hover {
    color: #fff;
}

.ultimate-blocks-btn-red {
    background-color: #d32f2f;
    border-color: #d32f2f;
    color: #fff;
}

a.ultimate-blocks-btn-red {
    color: #fff;
}

.ultimate-blocks-btn-grey {
    background-color: #eee;
    border-color: #ccc;
    color: #666;
}

a.ultimate-blocks-btn-grey:hover {
    color: #e82f2f;
}

.ultimate-blocks-btn-lg {
    font-size: 16px;
    font-weight: 600;
    padding: 16px 28px;
}

.ultimate-blocks-btn-block {
    display: block;
    width: 100%;
}

.ultimate-blocks-btn {
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    box-shadow: none;
}